html,
body {
    font-family: Arial, sans-serif;
    background-color: thistle;
    background-image: linear-gradient(to right, rgb(98, 51, 98), #e7d5d5);
    overflow-x: hidden;
    max-width: 100vw;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.main-card {
    background-color: wheat;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    min-width: fit-content;
    max-width: 1200px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    position: relative;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}

.logo {
    margin-left: 10px;
    font-size: 180%;
    font-weight: bold;
    color: #333;
}

.button {
    display: none;
}

.hero {
    display: grid;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.hero-image {
    display: flex;
    text-align: center;
    justify-content: center;
    order: 1;
}

.profile-circle {
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: pulse 4s ease-in-out infinite;
}

.profile-circle img {
    max-width: 220px;
    max-height: 220px;

    border-radius: 50%;
    position: relative;
    border: 5px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


.hero-content {
    margin-left: 20px;
    order: 2;

}




.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

.hero-content p {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #333;

}

.hero-button {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-button-1,
.hero-button-2 {
    background-color: thistle;
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(50, 46, 46);
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    transition: transform 0.3s;
}

.hero-button-2 {
    background-color: wheat;
    border: 2px solid rgb(50, 46, 46);
}

.hero-button-1:hover {
    transform: scale(1.05);
}

.hero-button-2:hover {
    transform: scale(1.05);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer
}

footer {
    align-items: center;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Hamburger icon */
.hamburger {
    font-size: 2rem;
    display: block;
    cursor: pointer;
    transition: transform 0.3s;
    z-index: 12;
    /* on top of overlay */
}

/* Mobile full screen popup */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(30, 30, 30, 0.95);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;

}

/* Show when active */
.mobile-menu.active {
    display: flex;
}

/* Menu items */
.menu-links {
    list-style: none;
    text-align: center;
}

.menu-links li {
    margin: 20px 0;
}

.menu-links a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    transition: color 0.3s;
}

.menu-links a:hover {
    color: thistle;
}

.desktop-menu {
    display: none;
}

/* Responsive: show hamburger off on large screen */
@media screen and (min-width:772px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        position: relative;
        border-radius: 20px;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .navbar .button {
        display: flex;
        background-color: thistle;
        padding: 20px;
        border-radius: 20px;
        font-size: 120%;
        font-weight: bold;

        color: rgb(50, 46, 46);

    }

    .button a {
        text-decoration: none;
        color: rgb(50, 46, 46);

    }

    .button:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }



    .desktop-menu {
        display: block;
        display: flex;
        gap: 60px;
        list-style: none;
        justify-content: center;
        margin: auto;
    }

    .desktop-menu a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

    .desktop-menu li a {
        font-size: 150%;
        transition: all 0.8s ease;

    }

    .desktop-menu li a:hover {
        border: #333 solid 2px;
        border-radius: 25px;
        padding: 10px;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin: 50px;
    }

    .hero-image {
        order: 2;
        display: flex;
        justify-content: center;

    }

    .hero-content {
        order: 1;
        text-align: left;
    }

    .profile-circle {
        width: 500px;
        height: 500px;
        background-image: linear-gradient(45deg, #667eea, #764ba2);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

    }

    .profile-image {
        width: 500px;
        height: 500px;
        border-radius: 50%;

        border: 5px solid white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    .profile-image:hover {
        transform: scale(1.05);
        transition: transform 0.5s;
    }



    footer {
        margin-left: 70%;
    }
}


/*About */
.section-about h1 {
    text-align: center;
    margin: 30px;
    font-size: 2.5rem;
    color: #333;
}

.section-about p {
    font-size: 1.5rem;
    color: #333;
    margin: 20px;
}


/*Portfolio */
.section-portfolio {
    width: 100%;
    height: 100%;
}

.Project h1,
p {
    font-size: 1.2rem;
    margin: 30px;
}

.java-project {
    width: 100%;
    height: 100%;
    text-align: center;
}

.java-project h3 {
    margin: 20px;

}

.ar-project {
    width: 100%;
    height: 100%;
    text-align: center;
}

.ar-project h3 {
    margin: 20px;
}

.NET-project {
    width: 100%;
    height: 100%;
    text-align: center;
}

.NET-project h3 {
    margin: 20px;
}

.NET-project p {
    margin: 20px;
    text-align: start;
}

.project-grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.project-card {
    background-color: white;
    border-radius: 16px;

    transition: 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translate(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
}

.project-card h4 {
    margin: 10px;
    font-size: 1.1rem;
    color: #333;
}

.project-card p {
    margin: 0 10px 15px;
    font-size: 0.95rem;
    color: #666;
}

.ar-project p {
    text-align: start;
}


/* Contact */
.section-contact {
    padding: 80px 40px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.section-contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section-contact p {
    font-size: 1.2rem;
    margin-bottom: 40px;

}

.contact-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;

}

.contact-form input,
textarea {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem;
}

.contact-form button {
    background-color: #333;
    padding: 12px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-info {
    text-align: left;
    font-size: 1rem;
}

.contact-info p {
    margin: 10px 0;
}